header{ /*general header*/
    overflow: hidden;
    color: #2E1900;
    margin: 0px 10%;
}

 .logo{ /*logo in header*/
    float: left;
    font-family: 'Sacramento', cursive;
    font-size: 26px;
    padding-top: 45px;
} 

.navbar { /*nav bar in header*/
    float: right;
    font-size: 16px;
    color: #2E1900;
    padding-top: 45px;
}

.navbar a:hover{
    font-weight: bolder;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #2E1900;
}

 #about, #ourrolls{
    padding-right: 15px; /*add space for about menu option*/
}

#cartimg{
    width: 20px;
}

#inc{
    display: inline-block;
    font-size: 12px;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    background-color: #F2E0CA;
}


body { /*general body*/
    font-family: 'Arvo', serif;
    color: #2E1900;
    margin: 0;
    overflow-x: hidden;  /*prevent additional whitespace on xaxis*/
}


/*home page*/

.banner{ /*home page banner*/
    position: relative;
    text-align: center;
}

#banner-head { /*title "Made for you" in banner*/
    position: absolute; 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    font-size: 60px;  
    font-weight: bolder;
    white-space: nowrap;
}

#home{
    max-width: 100%
    width: auto;
    height: auto;
}

#banner-sub { /*subtitle in banner*/
    position: absolute;
    font-size: 18px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#banner-order { /*order now button in banner*/
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 60px;
    border-radius: 45px;
    font-size: 18px;
    background-color: white;
    font-size: 18px;
    color: #42241E;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Arvo', serif;

}

#banner-order a{
    text-decoration: none;
    color: #42241E;
}

#banner-order:hover{
    background-color: #D59E5D;
}


.img1{ /*home page "made with love" image*/
    padding: 150px 0% 50px 10%;
    float: left;
    width: 50%;
}

.img1 img{
    width: 100%;
    height: auto;
}

.textbox1{ /*home page "made with love" text*/
    width: 25%;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    padding: 150px 10% 50px 30px;
    clear: right;

}

.img2{ /*home page "made with love" image*/
    padding: 150px 10% 50px 30px;
    float: left;
    width: 40%;
}

.img2 img{
    width: 100%;
    height: auto;
}

.textbox2{ /*home page "made with love" text*/
    width: 35%;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    padding: 150px 0pc 50px 10%;
}

.socials img{ /*footer social media images*/
    width: 35px;
    height: 35px;
    padding-top: 20px;
    padding-right: 5px;

}

.foot{ /*general footer*/
    display: grid;
    grid-template-columns: auto auto auto auto; 
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #F2E0CA;
    width: 100%;
}

.foot .logo{ /*logo in footer*/
    float: left;
    padding-top: 0%;
    padding-left: 10%;
    vertical-align: middle;
}

.socials{
    float: right;
}

/*product browsing page*/

.title{ /*title in product browsing page*/
    background-color: #F2E0CA;
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
}

.gallery{ /*product browsing page gallery images*/
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: 0px 150px;
    grid-gap: 40px;
}

.item{ /*each individual item and caption in gallery*/
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.column a{ /*link to product detail page*/
    text-decoration: none;
    color: #2E1900;
}

/*product detail page*/

.prodImg{
    float: left;
    width: 40%;
    padding-left: 10%;
    padding-top: 50px;
}

.image1{
    width: 90%;
}

.product{ /*body of product detail page*/
    float: right;
    padding-top: 40px;
    line-height: 10px;
    padding-right: 15%;
    width: 30%;
}

.info h1{
    max-height: 40px;
    line-height: 30px;
    padding-bottom: 0px;

}

.info p{ /*cost of product*/
    font-size: 20px;
    padding-top: 0px;
}

.glaze{
    padding-top: 50px;
    padding-bottom: 50px;
}

.glaze label, .qty label{
    padding-right: 10px;
}

#glazeOptions{
    height: 35px;
    width: 200px;
    font-size: 16px;
    border-color: #2E1900;
    background-color: white;
    font-family: 'Arvo', serif;
}


#qtyOptions{
    height: 35px;
    width: 100px;
    font-size: 16px;
    border-color: #2E1900;
    background-color: white;
    font-family: 'Arvo', serif;
}

.cart{ /*add to cart section*/
    padding-top: 75px;
}

.cart button{ /*add to cart section*/
    background-color: #D59E5D;
    width: 100%;
    height: 50px;
    border-radius: 8px;
}

.cart button:hover{ /*add to cart section*/
    background-color: #ad7f47;
    width: 100%;
    height: 50px;
    border-radius: 8px;
}

#cart{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.bottom{ /*more details and shipping section*/
    padding-top: 100px;
    padding-bottom: 150px;
}

.bottom p{ /*headers of bottom section*/
    padding-top: 10px;
    padding-bottom: 10px
}

.bottom hr{ /*line as dividers */
    border: 1px solid #D59E5D;
}

i { /*drop down section*/
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down { /* drop down*/
    float: right;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*About us*/

.learn {
    padding-top: 50px;
}

.rolls { /*title */
    background-color: #F2E0CA;
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
}

.aboutImg{
    padding-left: 10%;
    margin: 0;
    width: 50%;
    padding-top: 50px;
    float: left;
    padding-bottom: 100px

}

.aboutImg img{
    width: 90%;
}

.who{
    padding-right: 10%;
    width: 30%;
    float: left;
    padding-top: 50px;
    padding-bottom: 100px;

}

.who h3{ /*About us header*/
    text-decoration: underline #D59E5D;
    padding: 0px;
}

.who .logo{ /*About us signing*/
    font-family: 'Sacramento', cursive;
    font-size: 26px;
}

/*Cart page*/
.cart-head{
    padding-top: 50px;
    width: 75%;
}

.cart-head p{
    margin: 0;
}

.shop-prod{
    width: 40%;
    height: 35px;
}

.shop-qty, .shop-cost{
    width: 15%;
    height: 35px;
}

.delete-item{
    margin-top: 32px;
    height: 10px;
}

.shop-prod {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    padding-left: 10%;
}

.shop-qty, .shop-cost{
    float: left;
}


hr{
    margin: 0 0 10px 0;
}

.cart-prods{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    padding-left: 10%;
    font-size: 16px;
}

#cart-glaze{
    font-size: 14px;
    text-indent: 20px;
    margin: 0px;
    color: #6b5d4d;
}

.cart-cost{
    width: 15%;
    height: 35px;
    float: right;
}

.total{
    float:right;
    padding-right: 10%;
    font-weight: bolder;
    padding-top: 50px;
}